In [34]:
import pandas as pd
import numpy as np

In [32]:
df = pd.DataFrame([[3,56,45,97],[1,456,6546,34],[4,45645,535,23],[2,345,636,345]], columns=['0','1','2','3'])
df

   0      1     2    3
0  3     56    45   97
1  1    456  6546   34
2  4  45645   535   23
3  2    345   636  345

In [24]:
df.columns[0]

'0'

In [33]:
df = df.set_index([df.columns[0]]).sort_index()
df

       1     2    3
0
1    456  6546   34
2    345   636  345
3     56    45   97
4  45645   535   23

In [5]:
df = df.sort_index()
df

       1     2    3
0
1    456  6546   34
2    345   636  345
3     56    45   97
4  45645   535   23

In [36]:
ar = np.array(df)
ar = np.expand_dims(ar, axis=2)
ar

array([[[  456],
        [ 6546],
        [   34]],

       [[  345],
        [  636],
        [  345]],

       [[   56],
        [   45],
        [   97]],

       [[45645],
        [  535],
        [   23]]])

In [1]:
from tensorflow.keras.models import load_model

2022-12-01 12:27:03.781353: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-12-01 12:27:04.101359: I tensorflow/core/util/util.cc:169] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2022-12-01 12:27:04.180997: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-12-01 12:27:04.181037: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-12-01 12:27:04.224712: E tensorflow/stream_executor/cuda/cuda_blas.cc:2981] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2022-12-01 12:27:05.134667: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-12-01 12:27:05.135061: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-12-01 12:27:05.135065: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [4]:
!ls ./cloud_results/cloud_results/models/20221201-104759/variables

variables.data-00000-of-00001  variables.index

In [5]:
model = load_model('./cloud_results/cloud_results/models/20221201-104759')
model

2022-12-01 13:33:51.709492: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2022-12-01 13:33:51.709688: W tensorflow/stream_executor/cuda/cuda_driver.cc:263] failed call to cuInit: UNKNOWN ERROR (303)
2022-12-01 13:33:51.709700: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (bob-950QED): /proc/driver/nvidia/version does not exist
2022-12-01 13:33:51.710638: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 AVX_VNNI FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [17]:
model.

TypeError: 'NoneType' object is not callable